body {
  background: transparent; /* Make it white if you need */
  color: #fcbe24;
  padding: 0 24px;
  margin: 0;
  height: 100vh;
}

.world {
  perspective: 500px;
  width: 80vw;
  height: 80vh;
  background-color: lightblue;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  position: relative;   
  width: 100px;
  height: 150px;
  margin: 1em;
  transition: 1s;
  transform: rotateY(0deg);
  transform-style: preserve-3d; /*world에 perspective를 줘서 3D효과가 나는 것인데, card 까지는 전파가 되지만, card 안에 있는 card-sid에는 적용이 되지 않는다. 이를 전파해주기 위해 사용한다.*/
  /* transform-origin: left; */
}

.card-side {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0.5em;
    font-size: 1.5rem;

    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;    
    -webkit-backface-visibility: hidden; /* for Safari */
    backface-visibility: hidden;
}

.card-side-front{
  background-color:  white;
  z-index: 1;
}

.card-side-back{
  background-color:  lightcoral;
  transform: rotateY(180deg);
}


.world:hover .card {
  transform: rotateY(180deg);
}